body {
	--charcoal: #264653;
        --yellow: #F7EACA;	
	background-color: var(--yellow);
       	font-family: inconsolata;
	color: var(--charcoal);
	--light-green: #2A9D8F;
        --orange: #F4A261;
	--dark-orange: #E76F51;
}
main {
	display: flex;
	flex-direction: row;
}
h2 {
	font-size: 20px;
}
#figureContainer {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	width: 40vw;
	min-height: 400px;
	height: 80vh;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin: 20px;

	background-color: #FCF8ED;
	z-index: -2;
	border-radius: 10px;	
}
.circle {
	z-index: -1;
	border-radius: 50%;
	text-align: center;
}
.insideCircle {

}
#self {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	background-color: var(--light-green);
	height: 15vw;
	width: 15vw;
}
.textInputResultContainer {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	text-align: center;
	padding: 20px;
}
.layer {
	display: flex;
	flex-direction: row;
}
.1layer {
	background-color: var(--orange);
	height: 6vw;
	width: 6vw;
}
